<footer class="footer mt-auto py-2">
    <span class="footer-left">Desenvolvido por: TecMhaicky</span>
    <span class="footer-right">Versão: 1.0.0.0</span>
    {{!--
            1. = Mudanças nas principais tecnologias
            0. = Quantidade de versões subidas (Depois do lançamento)
            0. = Quantidade de Implementações nessa versão
            0 = Bugs Corrigidos
    --}}
</footer>