<h2 class="mt-5">Categorias</h2>
<hr>
{{#each categorias}}
    <a href="/postagens/categorias/{{slug}}"><h5>{{nome}}</h5></a>
{{else}}
    <h5 class="mt-4"> <i>Nenhuma categoria cadastrada!</i></h5>
{{/each}}