<div class="card shadow">
    <div class="card-body p-0 rounded-3">
        <div class="card-title bg-primary text-light py-5 text-center rounded-top mb-0"><h1>{{post.titulo}}</h1></div>
        <div class="card-text mt-0">
            <div class="info card-header px-3 py-2  fw-light fst-italic">
                <strong>Categoria:</strong> {{post.categoria.nome}} -
                <strong>Data:</strong> {{post.data}}
            </div>  
            <div class="conteudo p-3">
                {{post.conteudo}}
            </div>
        </div>
    </div>
</div>