{{!-- Caixa de boas vindas --}}
<div class="p-5 mb-4 bg-light border rounded-3">
    <div class="container-fluid">
        <h1 class=" display-6">Minhas Receitas</h1>
        {{#if user}}
        {{else}}
        <p class="lead">Apenas as realmente deliciosas.</p>
        <hr>
        <p>
            Para ter acesso a mais opções.
            <a href="/usuarios/cadastrar"><button class="btn btn-oxblood" type="button">Cadastre-se</button></a>
        </p>
        {{/if}}
    </div>
</div>

{{>_vitrinePosts}}