{{!-- Caixa de boas vindas --}}
<div class="p-5 mb-4 bg-light border rounded-3">
    <div class="container-fluid">
        <h1 class=" display-6">Bem-vindo ao BlogApp NodeJS</h1>
        <p class="lead">Este é um blog de modelo, desenvolvido com NodeJS + Express + MongoDB.</p>
        <hr>
        <p><small>Fique à vontade. Teste tudo.</small></p>
        <button class="btn btn-success disabled" type="button">Cadastre-se</button>
    </div>
</div>

{{>_vitrinePosts}}